@model KDGExample.Controllers.AnswerViewModel

<button value="@Model.AnswerId" type="submit" name="answerId" class="bg-@Model.Color rounded-circle border-0" style="width:250px; height: 250px;">
    @Model.Answer
</button>   