# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.VotingAppStart.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\kdg-talk-2020\VotingAppStart\.idea\.idea.VotingAppStart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
