@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Voting.WebApp.Controllers.QuestionnairesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="list-group">
            @foreach (var q in Model.Questionnaires)
            {
                <li class="list-group-item">
                    <a asp-action="Question" asp-route-id="@q.FirstQuestionId">
                        @q.Title
                    </a>
                    <vc:progress questionnaire-id="@q.Id"/>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Please log in :( </p>
    }

</div>