@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our totally Relevant questionnaire!</h1>
    <a asp-action="Question" asp-route-id="@ViewBag.FirstQuestionId"> Start answering questions!</a>
</div>
