@model List<Voting.WebApp.Controllers.CommentViewModel>

@{
    ViewBag.Title = "comments";
    Layout = "_Layout";
}

<h2>comments</h2>

<ul>
    @foreach (var c in Model)
    {
        <li>@c.By - @c.Comment</li>
    }
</ul>