@model Voting.WebApp.Controllers.QuestionViewModel

<form asp-action="Vote" asp-route-questionId="@Model.Id" asp-route-questionnaireId="@Model.QuestionnaireId">
    <div>
        <h5>From @@Html.EditorFor</h5>
        @Html.EditorFor(m => m.Answers)
    </div>
    <div>
        <h5>From EditorForModel</h5>
        <editor for="Answers"/>
    </div>
</form>