@model QuestionnaireViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Title</h1>

<a asp-action="Question" asp-route-questionId="@ViewBag.FirstQuestionId" asp-route-questionnaireId="@Model.Id">
    <h1>Begin met stemmen!</h1>
</a>