@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<VotingApp.Controllers.QuestionnaireViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var q  in Model)
        {
            <li>
                <a asp-controller="Voting" asp-route-id="@q.Id" asp-action="Index">@q.Title</a>
            </li>
        }
    </ul>
</div>
