@model VotingApp.Controllers.QuestionViewModel

<h2>@Model.Question</h2>

<div class="text-center">
    @Model.SelectedAnswer.Answer
</div>
@if (Model.NextQuestionId.HasValue)
{
<a class="text-center" asp-action="Question" asp-route-id="@Model.NextQuestionId">Go to next question!</a>
    
}
else
{
    <a asp-controller="Home" asp-action="Index">Go to the overview</a>
}
